<div class="content">
  <div class="container-fluid">
    <h4 class="page-title">Danh sách sản phẩm</h4>
    <div class="card">
      <div class="card-header">
        <div class="card-title">Base Form Control</div>
      </div>
      <div class="card-body">
        <form action="/categories/create" method="post">
          <div class="form-group">
            <label for="code">Mã loại sản phẩm</label>
            <input name="code" type="text" class="form-control" id="code" placeholder="Nhập code">
          </div>

          <div class="form-group">
            <label for="name">Tên loại sản phẩm</label>
            <input name="name" type="text" class="form-control" id="name" placeholder="Nhập tên sản phẩm">
          </div>
          <div class="form-group">
            <label for="image">Link hình ảnh</label>
            <input name="image" type="text" class="form-control" id="image" placeholder="Nhập link hình ảnh">
          </div>
          <div class="card-action">
           <button class="btn btn-success" type="submit">Tạo</button>
           <a class="btn btn-primary" href="/categories">Trở về danh sách sản phẩm</a>
         </div>
        </form>
    </div>
  </div>
</div>